pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
tensorflow==2.17.0
matplotlib==3.7.1
seaborn==0.13.2
workalendar==17.0.0
openmeteo_requests==1.3.0
openmeteo_sdk==1.17.0
requests-cache==1.2.1
retry-requests==2.0.0
scipy==1.13.1
